{% extends 'base.html.twig' %}

{% block title %}Profile Edit{% endblock %}
{% block body %}
<div class="my-5">
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 space-y-6">
        <div class="p-4 sm:p-8 space-y-4">
            <div class="p-4 sm:p-8 bg-white shadow rounded-lg">
                <div class="max-w-xl">
                    {{include('user/_update_information_form.html.twig')}}
                </div>
            </div>
            <div class="p-4 sm:p-8 bg-white shadow rounded-lg">
                <div class="max-w-xl">
                    {{include('user/_update_password_form.html.twig')}}
                </div>
            </div>
            <div class="p-4 sm:p-8 bg-white shadow rounded-lg">
                <div class="max-w-xl">
                    {{include('user/_delete_user_form.html.twig')}}
                </div>
            </div>
      </div>
    </div>
</div>
{% endblock %}